<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <!-- 
            CHANGE NEEDED: 
            Update processPath to point to your Python executable 
            (e.g., C:\Program Files\Python312\python.exe) 
        -->
        <httpPlatform processPath="C:\Python312\python.exe" arguments="-m uvicorn main:app --port %HTTP_PLATFORM_PORT%" stdoutLogEnabled="true" stdoutLogFile=".\logs\python.log" startupTimeLimit="60" processesPerApplication="1">
            <environmentVariables>
                <environmentVariable name="PYTHONPATH" value="." />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
